@font-face {
  font-family: "SF Pro";
  src: url("font/SF-Pro-Display-Regular.otf") format("opentype");
}

@font-face {
  font-family: "SF Pro";
  src: url("font/SFPRODISPLAYREGULAR.OTF") format("opentype");
  font-weight: 700;
}
 @font-face {
    font-family: "SF Pro";
    src: url("font/SFPRODISPLAYTHINITALIC.OTF") format("opentype");
    font-weight: 200;
 }


@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "SF Pro", sans-serif;
    width: 1348px;
    overflow-x: hidden;
}

h1 {
    font-family: "Shadows Into Light Two", cursive;
    font-weight: 200;
    font-style: italic;
    font-size: 48px;
}

.menu img {
    width: 70px;
    height: 70px;
}

.menu {
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    flex: 1;
}

.menu ul {
    display: flex;
    gap: 40px;
    margin: auto;
}

.menu ul li a {
    text-decoration: none;
    color: black;
}

.banner {
    display: flex;
    justify-content: space-between;
}

.banner p:first-of-type {
    font-size: 36px;
}

.banner span {
    color: #6FD5B0;
    font-family: "Shadows Into Light Two", cursive;
    font-weight: 100;
    font-style: italic;
    font-size: 60px;
    line-height: 0.9;
}

.apresentacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 20px;
}

.apresentacao p {
    width: 100%;
}

button {
    background-color: #137A6D;
    color: white;
    border-style: none;
    border-radius: 8px;
    padding: 10px;
    width: 260px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.377);
    margin-left: -35px;
    font-size: 14px;
}

button a {
    text-decoration: none;
    color: white;
}

button:hover {
    width: 250px;
    font-size: 15px;
}

.banner img {
    width: 600px;
}

#sobre {
    height: 360px;
    display: flex;
    background-color: #6FD5B0;
    justify-content: space-between;
}

#sobre p {
    padding-top: 90px;
    margin-left: -90px;
    font-size: 26px;
    font-weight: 200;
    font-style: normal;
}

#sobre span {
    color: white;
    font-size: 84px;
    font-family: "Shadows Into Light Two", cursive;
    margin-left: 90px;
    word-spacing: -26px;
}

.circulo1 {
    width: 390px;
    height: 280px;  
    background-image: linear-gradient(330deg, #137A6D 30%, #1db39f);
    border-bottom-left-radius: 400px;
    border-bottom-right-radius: 400px;
    margin-left: -80px;
    position: relative;
    overflow: visible;
}

.mockup-imagem {
    position: absolute;
    top: -20%;
    left: 30%;
    height: 500px;
}

.circulo2 {
    width: 390px;
    height: 280px;   
    background-image: linear-gradient(135deg, #137A6D, #23E0C8);
    border-top-left-radius: 400px;
    border-top-right-radius: 400px;
    margin-top: 6%;
    margin-right: -80px;
    position: relative;
    overflow: visible;
}

.casa-imagem1 {
    position: absolute;
    top: 28%;
    left: 16%;
    width: 250px;
    height: 200px;
}

.casa-imagem2 {
    position: absolute;
    top: 68%;
    left: -8%;
    width: 160px;
    height: 100px;
}

#objetivo {
    display: flex;
    padding-top: 90px;
}

.o-que-e {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 17px;
}

.retangulo {
    color: white;
    background-color: #137A6D;
    width: 490px;
    margin-top: 18px;
    padding: 30px 0 30px 165px;
    border-radius: 11px;
}

.resumo-imagem {
    background-color: #40AA9D; /*40AA9D e 185B5A*/
    height: 370px;
    width: 330px;
    margin-top: 120px;
}

.bloco1 {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: left;
    gap: 15px;
    transform: translateX(-150px);
}

#objetivo p {
    font-size: 18px;
}

.resumo-imagem img {
    height: 480px;
    width: 400px;
    position: relative;
    top: -29%;
    right: 70px;
}

#beneficios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 40px;
    background-color: #FFF1DA;
    gap: 100px;
}

.grade {
    display: grid;
    grid-template-columns: repeat(3, 190px); 
    justify-content: center;               
    gap: 20px 80px; /* vertical | horizontal */
}

.beneficio-fundo {
    width: 160px;
    height: 120px;
    padding: 40px;
    background-color: #FF9300;
    color: white;
    border-radius: 13px;
}